* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/new_year.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: blanchedalmond;
    text-align: center;
    margin-top: 26%;
}

.container {
    display: flex;
    margin-top: 30px;
    color: blanchedalmond;
}

.countdown_el {
    margin-right: 50px;
    text-align: center;
}

.countdown_el:nth-child(4) {
    margin-right: 0;
}

.big_text {
    font-size: 8rem;
}

